#AdultGeneral {
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  border: 5px solid rgb(0, 0, 0);
  color: white;
}

#GenMed {
  background-color: #120b75;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  border: 5px solid rgb(38, 28, 139);
  color: white;
}

#Cardiac {
  background-color: #df1616;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(234, 9, 9, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  border: 5px solid rgb(230, 18, 18);
  color: white;
}
#OB {
  background-color: #7114e4;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(111, 23, 219, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  border: 5px solid rgb(116, 17, 182);
  color: white;
}

#Trauma {
  background-color: #158711;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(15, 144, 60, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  border: 5px solid rgb(13, 112, 43);
  color: white;
}

#Toxin {
  background-color: #e5e529;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(198, 228, 27, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  border: 5px solid rgb(190, 226, 72);
  color: white;
}