.RedText {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(193, 50, 50);
  background-color: rgb(255, 255, 255);
}
.Centered {
  display: block;
  text-align: center;
}
